<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>
    <div class="row justify-content-center">
            <div class="card text-center col-md-7">
                <div class="card-header">
                  ELIMINAR COLABORADOR
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h3>¿Desea eliminar el registro de {{ colaborador.nombre }}?</h3>
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                        <a class="btn btn-default" href="{% url 'list_colab' %}">Cancelar</a>
                    </form>
                </div>
              </div>
            </div>
</body>
{% include "AppAseo/footer.html" %}

</html>