<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>

<h1>REGISTRO EXITOSO</h1>
<a href="/"><button class="btn-danger">Volver</button></a>

</body>
{% include "AppAseo/footer.html" %}

</html>