<!DOCTYPE html>
<html>
{% include "AppAseo/header.html" %}
<body>
        <form class="" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>

</body>
{% include "AppAseo/footer.html" %}

</html>