{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Aseo Integral</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{% static 'AppAseo/imagenes/icono.png' %}" />
    <link rel="manifest" href="{% static 'AppAseo/manifest.json' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img class="img-fluid" src="" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">inicio <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="/list_colab">Colaboradores</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/list_empresa">Empresas</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/reg_turno">Turnos</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/list_solicitud">Solicitudes</a>
        </li>
        {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="/reg_solicitud">Registrar Solicitud</a>
        </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav">
        <span class="navbar-text">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/_register">Usuario: {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-default">Log Out</button></a>
            </li>
            {% else %}
            <p>
                <btn class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      LOGIN
                </btn>
            </p>
                <div class="collapse" id="collapseExample">
                <div class="card card-body">
                        {% include "AppAseo/login.html" %}
                </div>
                </div>
                <li class="nav-item">
                  <a class="nav-link" href="/registro">registro</a>
                </li>
            {% endif %}
        </span>
      </ul>
  </div>
</nav>

</body>
</html>