<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>
            <div class="row justify-content-center mt-5">
            <table class="col-10 table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for colaborador in object_list %}
                      <tr>
                        <th scope="row">1</th>
                        <td>{{ colaborador.nombre }}</td>
                        <td>{{ colaborador.apellido }}</td>
                        <td>{{ colaborador.rut }}</td>
                        <td><a href="{% url 'delete_colab' colaborador.id %}"><button class="btn btn-danger">Eliminar</button></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
          <div class="row justify-content-center">
          <a href="/reg_colab"><button class="btn btn-primary">Agregar Colaborador</button></a>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% include "AppAseo/delete_colab.html" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</body>
{% include "AppAseo/footer.html" %}

</html>