<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>
<div class="row justify-content-center mt-5">
    <h1 class="font-weight-bold">PENDIENTES</h1>
</div>
<div class="row justify-content-center">
        <table class="col-10 table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                {% for solicitud in object_list %}
                {% if solicitud.estado == null %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{ solicitud.colaborador.nombre }}</td>
                    <td>{{ solicitud.tipo }}</td>
                    <td><a href="{% url 'edit_solicitud' solicitud.id %}"><button class="btn btn-primary">Editar</button></a></td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="row justify-content-center">
            <h1 class="font-weight-bold">ACEPTADAS</h1>
        </div>
        <div class="row justify-content-center">
                <table class="col-10 table table-hover table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for solicitud in object_list %}
                        {% if solicitud.estado == "ACEPTAR" %}
                          <tr>
                            <th scope="row">1</th>
                            <td>{{ solicitud.colaborador.nombre }}</td>
                            <td>{{ solicitud.tipo }}</td>
                            <td><a href="{% url 'edit_solicitud' solicitud.id %}"><button class="btn btn-primary">Editar</button></a></td>
                          </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                </div>

                <div class="row justify-content-center">
                    <h1 class="font-weight-bold">RECHAZADAS</h1>
                </div>
        <div class="row justify-content-center">
                <table class="col-10 table table-hover table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for solicitud in object_list %}
                        {% if solicitud.estado == "RECHAZAR" %}
                          <tr>
                            <th scope="row">1</th>
                            <td>{{ solicitud.colaborador.nombre }}</td>
                            <td>{{ solicitud.tipo }}</td>
                            <td><a href="{% url 'edit_solicitud' solicitud.id %}"><button class="btn btn-primary">Editar</button></a></td>
                          </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
    </body>
    {% include "AppAseo/footer.html" %}
    
    </html>