<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>
            <div class="row justify-content-center mt-5">
            <table class="col-10 table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for empresa in object_list %}
                      <tr>
                        <th scope="row">{{ empresa.id }}</th>
                        <td>{{ empresa.nombre }}</td>
                        <td>{{ empresa.fono }}</td>
                        <td>{{ empresa.direc }}</td>
                        <td><a href="{% url 'delete_empresa' empresa.id %}"><button class="btn btn-danger">Eliminar</button></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="row justify-content-center">
            <a href="/reg_empresa"><button class="btn btn-primary">Agregar Cliente</button></a>
          </div>
</body>
{% include "AppAseo/footer.html" %}

</html>