<!DOCTYPE html>
<html>

<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                    <label for="">Usuario:</label>
                    <input class="form-control" type="text" placeholder="Ingrese usuario" name="username" required><br/>
                    </div>
                    <div class="col-md-6">
                    <label for="">Clave:</label>
                    <input class="form-control" type="password" placeholder="Ingrese contraseña" name="password" required><br/>
                    </div>
                </div>

        <input class="btn btn-primary" type="submit" value="Login">
        <a href="/password-reset">Recuperar Contraseña</a>
    </form>

</body>
</html>