<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>

    <form class="" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       <!-- {{ form.as_p }} -->
       <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
      </div>
      <div class="form-group">
        <label for="fono">Fono</label>
        <input type="text" class="form-control" name="fono">
      </div>
      <div class="form-group">
        <label for="direc">Dirección</label>
        <input type="text" class="form-control" name="direc">
      </div>
        <button type="submit">Guardar</button>
    </form>

</body>
{% include "AppAseo/footer.html" %}

</html>