<!DOCTYPE html>
<html>
{% include "AppAseo/header.html" %}
<body>
        {% block content %}
        <form class="col-md-5" action="{% url 'reg_solicitud' %}" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <p>Problema</p>
            {% endif %}
        
            {{ form.as_p}}
            <script>
                $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>
            <button class="btn btn-submit" type="submit">Guardar</button>
        </form>
        {% endblock %}

</body>
{% include "AppAseo/footer.html" %}

</html>