<!DOCTYPE html>
<html>
        {% include "AppAseo/header.html" %}
<body>
  <div class="row justify-content-center">
    <div class="card text-center col-md-7">
        <div class="card-header">
          INGRESO COLABORADOR
        </div>
        <div class="card-body">
            <form class="" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
             <!-- {{ form.as_p }} -->
             <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="nombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" name="apellido">
            </div>
            <div class="form-group">
              <label for="rut">Rut</label>
              <input type="text" class="form-control" name="rut">
            </div>
              <button class="btn btn-primary" type="submit">Guardar</button>
          </form>
        </div>
      </div>
    </div>

</body>
{% include "AppAseo/footer.html" %}

</html>